.contacts__phone-link {
  margin: 0;
  text-transform: uppercase;
  color: #943E41;
  font-weight: 400;
  line-height: 1.21;
  font-family: 'Leo';
  font-size: 22px;
  max-width: 100%;
  letter-spacing: 2.5px;
  text-decoration: none;
  align-self: flex-start;
}
