.contacts__phone-link {
  margin: 0;
  max-width: 100%;
  color: #943E41;
  font-weight: 400;
  font-family: 'Leo', 'Inter', Arial, Helvetica;
  font-size: 22px;
  letter-spacing: 2.5px;
  line-height: 1.21;
  text-transform: uppercase;
  text-decoration: none;
  align-self: flex-start;
  transition: ease .6s;
}

.contacts__phone-link:hover {
  opacity: .5;
}
