.quote__title {
  margin: 30px 0 30px;
  text-decoration: wavy;
  text-transform: uppercase;
  color: #943E41;
  font-weight: 400;
  line-height: 1.21;
  font-family: 'Inter';
  font-size: 16px;
  max-width: 100%;
  letter-spacing: 1px;
}
