.dresscode {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  background-image: url(../../images/dresscode.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}
