.contacts__link {
  margin: 0;
  color: black;
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Inter';
  font-size: 16px;
  letter-spacing: 0.5px;
  text-decoration: none;
  align-self: flex-start;
  display: flex;
  transition: ease .6s;
}

.contacts__link:hover {
  opacity: .5;
}
