.lead__title{
  margin: 0;
  max-width: 320px;
  text-align: center;
  color: #943E41;
  font-weight: 400;
  font-family: 'Leo', 'Inter', Arial, Helvetica;
  font-size: 34px;
  line-height: 1.21;
  letter-spacing: 2px;
}
