.section-line {
  margin: 10px 0 0;
  min-width: 10px;
  max-height: 100%;
  background-image: url(../../images/line.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 399px) {
  .section-line {
  background-image: url(../../images/lineMini.svg);
  }
}
