.programms__time {
  margin: 0;
  max-width: 100%;
  color: black;
  font-weight: 400;
  font-family: 'Leo', 'Inter', Arial, Helvetica;
  font-size: 26px;
  line-height: 1.21;
  letter-spacing: 2.5px;
}
