.programms__title {
  margin: 7px 0;
  max-width: 100%;
  color: #943E41;
  font-weight: 400;
  font-family: 'Inter', Arial, Helvetica;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
