.table__title {
  max-width: 100%;
  color: #943E41;
  font-weight: 400;
  font-family: 'Leo', 'Inter', Arial, Helvetica;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.21;
  letter-spacing: 0.5px;
}
